
#u3325-4
{
	font-family: open-sans-n7, sans-serif;
}

#u3329-2,#u3330-2
{
	font-family: open-sans-n6, sans-serif;
}

#u3326-4,#u3327-4,#u3328-4,#u3329-6,#u3330-5,#u3331-4
{
	font-family: open-sans-n4, sans-serif;
}

