
#u8832-4
{
	font-family: open-sans-n7, sans-serif;
}

#u8833-4,#u8834-4,#u8835-4
{
	font-family: open-sans-n4, sans-serif;
}

#u8836-2,#u8837-2
{
	font-family: open-sans-n6, sans-serif;
}

#u8836-6,#u8837-5,#u8838-4
{
	font-family: open-sans-n4, sans-serif;
}

